<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
    <link rel="stylesheet" href="..//static/css/styles.css">
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/all_cars">Home</a></li>
            <li><a href="/my_cars">My Cars</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <h1>Add a New Car</h1>
    <form action="/add_car" method="POST" padding-left="30%">
        <input type="text" name="make" placeholder="Make" required> <br>
        <input type="text" name="model" placeholder="Model" required> <br>
        <input type="number" name="year" placeholder="Year" required> <br>
        <input type="number" name="price_per_day" placeholder="Price per Day" required> <br>
        <textarea name="discripton" placeholder="Description" rows="3" required>Description</textarea><br>
        <button type="submit">Add Car</button>
    </form>
</body>
</html>
